<div class="p-3 mb-2">
  <h1 class="text-center mt-4">Alpha Bloggers</h1>
  <div class="container w-50">
  <% @users.each do |user| %>
    <div class="card text-center mt-4 shadow bg-body rounded">
      <div class="card-header fst-italic">
        <%= link_to user.username, user %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= gravitar_for(user) %></h5>
        <p class="card-text"><%= pluralize(user.articles.count,'article') %></p>
        <%= link_to "View profile", user_path(user), class: 'btn btn-primary' %>
        <% if logged_in? && current_user == user %>
          <%= link_to "Edit profile", edit_user_path(user), class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>